#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px
}

h1 {
  color: var(--mat-sys-primary);
}

/* artist content section */

#artistContent {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-gap: 16px;
}

mat-card-content {
  width: 100%;
  height: 250px;
}

img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
